{% extends "recipes/base.html" %}

{% block title %}{{ recipe.title }}{% endblock %}

{% block content %}
<article>
    <h2>{{ recipe.title }}</h2>
    <p><strong>Автор:</strong> <a href="{% url 'user_recipes' recipe.author.username %}">{{ recipe.author.username }}</a></p>
    <p><strong>Время приготовления:</strong> {{ recipe.preparation_time }} минут</p>
    <p>{{ recipe.description }}</p>
    <h3>Ингредиенты:</h3>
    <p>{{ recipe.ingredients|linebreaks }}</p>
    <h3>Шаги приготовления:</h3>
    <p>{{ recipe.steps }}</p>
    {% if recipe.image %}
        <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}">
    {% endif %}
    <p><strong>Категории:</strong>
        <ul>
            {% for category in recipe.categories.all %}
                <li>{{ category.name }}</li>
            {% endfor %}
        </ul>
    </p>
    {% if user.is_authenticated and user == recipe.author %}
        <a href="{% url 'edit_recipe' recipe.id %}" class="btn">Редактировать рецепт</a>
    {% endif %}
</article>
{% endblock %}
