{% extends "recipes/base.html" %}
{% load static %}

{% block title %}Рецепты пользователя {{ user.username }}{% endblock %}

{% block content %}
<h2>Рецепты пользователя {{ user.username }}</h2>
<div class="recipe-grid">
    {% for recipe in user_recipes %}
        <div class="recipe-card">
            {% if recipe.image %}
                <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}">
            {% else %}
                <img src="{% static 'images/placeholder.jpg' %}" alt="Placeholder Image">
            {% endif %}
            <h3>{{ recipe.title }}</h3>
            <a href="{% url 'recipe_detail' recipe.id %}" class="btn">Перейти</a>
        </div>
    {% endfor %}
</div>
{% endblock %}
