/* Основные стили */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    padding-bottom: 20px;
}

h2 {
    color: #555;
}

article {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

article img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
}

form {
    max-width: 600px; /* Фиксированная ширина для формы */
    margin: 0 auto; /* Центрирование по горизонтали */
    padding: 20px;
    background-color: #fff; /* Белый фон */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input, form textarea, form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

form button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #555;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #858585;
}

.recipe-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.recipe-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    width: 200px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 100%; /* Убедитесь, что высота установлена */
}

.recipe-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.recipe-card h3 {
    padding: 10px;
    font-size: 1.2em;
    margin: 0;
    flex-grow: 1; /* Позволяет заголовку занимать доступное пространство */
}

.recipe-card .btn {
    display: inline-block;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: #555;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: auto; /* Перемещает кнопку вниз */
}

.recipe-card .btn:hover {
    background-color: #858585;
}


.logout-form {
    position: absolute;
    top: 20px; /* Отступ сверху */
    right: 20px; /* Отступ справа */
    margin: 0;
    padding: 0;
}

.logout-btn {
    display: inline-block;
    padding: 10px 15px;
    font-size: 16px;
    color: #fff;
    background-color: #dc3545; /* Красный цвет для кнопки выхода */
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.logout-btn:hover {
    background-color: #c82333; /* Темнее красный цвет при наведении */
}

.auth-form {
    max-width: 400px; /* Фиксированная ширина для формы */
    margin: 20px auto; /* Центрирование по горизонтали */
    padding: 20px;
    background-color: #fff; /* Белый фон */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.auth-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.auth-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.auth-form button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #555;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.auth-form button:hover {
    background-color: #858585;
}
